@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;
  color: #222222;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-t-header.is-open .t-t-header-background {
  left: 0;
}
.t-t-header-button-wrapper {
  margin-left: auto;
}
.t-t-header-icon {
  display: none;
}

.t-t-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-t-navigation-list.is-open {
  right: 0;
}
.t-t-header-icon-menu {
  display: block;
}

.t-t-header-icon-button.is-open .t-t-header-icon-menu {
  display: none;
}

.t-t-header-icon-button.is-open .t-t-header-icon-close {
  display: block;
}

.t-t-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 56px;
  background: #1b283b;
}

.t-t-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #1b283b;
}
.t-t-header.is-open .t-t-header-background {
  left: 0;
}
.t-t-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-t-header-icon-menu {
  display: block;
}

.t-t-header-icon-button.is-open .t-t-header-icon-menu {
  display: none;
}

.t-t-header-icon-button.is-open .t-t-header-icon-close {
  display: block;
}

.t-t-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.t-t-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 144px 0 0;
  gap: 20px;

  height: 757px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/hero_section.png");
}

.t-t-navigation-list.is-open {
  right: 0;
}

.t-t-navigation-link {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;

  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
}

.t-t-navigation-link:hover,
.t-t-navigatioт-link:focus {
  color: #40a2d8;
}

.t-t-header.is-open {
  background-color: transparent;
}

.t-t-navigation-img {
  display: none;
}

@media screen and (min-width: 1197px) {
  .t-t-navigation-img {
    display: flex;
    margin-right: 130px;
  }
  .t-t-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .t-t-header {
    width: 100%;
    height: 78px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: #1b283b;
  }

  .t-t-header-background {
  }
  .t-t-header-icon-button {
    display: none;
  }
  .t-t-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-t-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .t-t-navigation-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;

    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;

    text-decoration: none;
  }

  .t-t-navigation-item-desk {
    display: none;
  }
}
.t-t-home {
  width: 375px;
  height: 813px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero_section.png");
  margin: auto;
}
.t-t-home-container {
  padding: 309px 16px 0px;
  margin: auto;
}

.t-t-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.t-t-home-title {
  font-family: Roboto;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: #ef5747;
}
.t-t-home-title-bold {
  color: #5199de;
}
.t-t-home-title-img {
  width: 343px;
  margin: 4px 0 16px;
}

.t-t-home-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffffcc;
}
.t-t-home-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 147px;
}
.t-t-home-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffffcc;
}
.t-t-home-img {
  width: 24px;
  height: 24px;
}
.t-t-home-item-two {
  display: none;
}
@media screen and (min-width: 1197px) {
  .t-t-home {
    width: 1440px;
    height: 800px;
    background-image: url("/img/home/hero_section\ \(1\).png");
  }
  .t-t-home-container {
    width: 1440px;
    padding: 210px 736px 0px 88px;
  }

  .t-t-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .t-t-home-title-img {
    width: 616px;
  }

  .t-t-home-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .t-t-home-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 183px;
  }
  .t-t-home-item {
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .t-t-home-item-two {
    display: flex;
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffffcc;
  }
}
.t-t-about {
  margin: auto;
  width: 375px;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("/img/about/bg_1.png");
}
.t-t-about-container {
  width: 375px;
  height: 549px;
  padding: 40px 16px 0px;
  margin: auto;
  background-image: url("/img/about/Product\ Card.png");
}
.t-t-about-title {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ef5747;
}
.t-t-about-title-two {
  font-family: Roboto;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  padding-top: 8px;
}
.t-t-about-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 24px;
}

@media screen and (min-width: 1197px) {
  .t-t-about {
    width: 1440px;
    background-position: top;
    background-image: url("/img/about/bg_1\ \(1\).png");
  }
  .t-t-about-container {
    width: 1440px;
    padding: 154px 88px 0 736px;
    height: 503px;
    background-image: url("/img/about/Product\ Card\ \(1\).png");
  }
  .t-t-about-title {
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .t-t-about-title-two {
    font-family: Roboto;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;

    padding-top: 8px;
  }
  .t-t-about-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding-top: 24px;
  }
}
.t-t-contact {
  width: 375px;

  margin: auto;
  background-position: center;
  background-image: url("/img/about/bg_1.png");
}
.t-t-contact-container {
  height: 693px;
  padding: 40px 16px;
  background-image: url("/img/contact/Contact\ Details.png");
}
.t-t-contact-title-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.t-t-contact-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.t-t-contact-item {
  width: 292px;
  height: 120px;
}
.t-t-contact-img {
  width: 40px;
  height: 40px;
}
.t-t-contact-text-bold {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding: 24px 0 8px;
}

.t-t-contact-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  color: #222222;
  text-decoration: none;
}
@media screen and (min-width: 1197px) {
  .t-t-contact {
    width: 1440px;

    margin: auto;
    background-position: top;
    background-image: url("/img/uniqueness/bg_2.png");
  }
  .t-t-contact-container {
    height: 467px;
    padding: 102px 88px;
    background-image: url("/img/contact/Contact\ Details\ \(1\).png");
  }
  .t-t-contact-title-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-top: 16px;
  }
  .t-t-contact-list {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .t-t-contact-item {
    width: 292px;
    height: 120px;
  }

  .t-t-contact-text-bold {
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .t-t-contact-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.t-t-why-container {
  width: 375px;
  height: 1294px;
  margin: auto;
  padding: 40px 16px;
  background-position: bottom;
  background-image: url("/img/about/bg_1.png");
}
.t-t-why-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 8px;
}
.t-t-why-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.t-t-why-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 343px;
  height: 344px;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  padding-left: 24px;
  border-radius: 12px;
  background: #ffffff;
}
.t-t-why-img {
  width: 295px;
  height: 188px;
  gap: 10px;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
}

.t-t-why-text-bold {
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 40px 0 8px;
}
.t-t-why-text-bold-two {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1197px) {
  .t-t-why-container {
    width: 1440px;
    height: 698px;
    margin: auto;
    padding: 80px 88px;
    background-position: top;
    background-image: url("/img/uniqueness/bg_2.png");
  }
  .t-t-why-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-t-why-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .t-t-why-item {
    width: 400px;
    height: 372px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 24px;
    border-radius: 12px;
  }
  .t-t-why-img {
    width: 352px;
    height: 188px;
    gap: 10px;
    border-radius: 12px;
  }

  .t-t-why-text-bold {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .t-t-why-text-bold-two {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-t-uniqueness {
  margin: auto;
  width: 375px;
  background-size: cover;
  background-position: top;
  background-image: url("/img/about/bg_1.png");
}
.t-t-uniqueness-container {
  margin: auto;
  color: #ffffffcc;
  width: 375px;
  height: 1277px;
  padding: 287px 16px 0;
  background-image: url("/img/uniqueness/Container\ \(1\).png");
}
.t-t-uniqueness-div {
  background: #6e7fb2;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  border-radius: 12px;
}
.t-t-uniqueness-div-two {
  margin-top: 298px;
}
.t-t-uniqueness-title {
  font-family: Roboto;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
}
.t-t-uniqueness-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  margin-left: 20px;
  gap: 10px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}
.t-t-uniqueness-title-text {
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 8px;
}
@media screen and (min-width: 1197px) {
  .t-t-uniqueness {
    margin: auto;
    width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url("/img/uniqueness/bg_2.png");
  }
  .t-t-uniqueness-container {
    margin: auto;
    color: #ffffffcc;
    width: 1440px;
    height: 954px;
    padding: 100px 88px;
    background-image: url("/img/uniqueness/Container\ \(2\).png");
  }
  .t-t-uniqueness-div {
    width: 616px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
    border-radius: 12px;
  }
  .t-t-uniqueness-div-two {
    margin-top: 120px;
    margin-left: auto;
    width: 616px;
    padding: 24px 36px;
  }
  .t-t-uniqueness-title {
    font-family: Roboto;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .t-t-uniqueness-list {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    margin-left: 20px;
    gap: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-t-uniqueness-title-text {
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.t-t-how {
  margin: auto;
  width: 375px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("/img/about/bg_1.png");
}
.t-t-how-container {
  margin: auto;
  padding: 40px 16px;
  height: 890px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/Frame\ 95668.png");
}
.t-t-how-list {
  padding-top: 24px;
  padding-left: 72px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.t-t-how-text-bold {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.t-t-how-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1197px) {
  .t-t-how {
    margin: auto;
    width: 1440px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url("/img/about/bg_1\ \(1\).png");
  }
  .t-t-how-container {
    margin: auto;
    padding: 100px 88px;
    height: 682px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/about/Frame\ 95668\ \(1\).png");
  }

  .t-t-how-text-bold {
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .t-t-how-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 534px;
  }
}
.t-t-characters {
  margin: auto;
  width: 375px;

  background-image: url("/img/СTA.png");
}
.t-t-characters-container {
  padding: 60px 16px;
  margin: auto;
  height: 476px;
  color: #ffffffcc;
}

.t-t-characters-text-bold {
  font-family: Roboto;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.t-t-characters-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding-top: 16px;
}

@media screen and (min-width: 1197px) {
  .t-t-characters {
    margin: auto;
    width: 1440px;
    padding: 0 88px;
    background-position: bottom;
    background-image: url("/img/uniqueness/bg_2.png");
  }
  .t-t-characters-container {
    padding: 60px 32px 0 756px;
    margin: auto;
    height: 321px;
    color: #ffffffcc;
    background-image: url("/img/СTA\ \(1\).png");
  }

  .t-t-characters-text-bold {
    font-family: Roboto;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .t-t-characters-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.t-t-reviews-container {
  margin: auto;
  padding: 40px 16px;
  width: 375px;
  background-position: bottom;
  background-image: url("/img/about/bg_1.png");
}
.t-t-reviews-list {
  display: none;
}
.t-t-reviews-lists {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 30px;
}
.t-t-reviews-item {
  width: 343px;
  height: 204px;

  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
  border-radius: 12px;
  background: #6e7fb2;
  color: #ffffffcc;
}
.t-t-reviews-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;

  padding-top: 24px;
}

.t-t-reviews-item-top {
  display: flex;
  gap: 16px;
  align-items: center;
}

.t-t-reviews-text-bold {
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1197px) {
  .t-t-reviews-container {
    margin: auto;
    padding: 80px 88px;
    width: 1440px;
    background-position: top;
    background-image: url("/img/uniqueness/bg_2.png");
  }
  .t-t-reviews-list {
    display: block;
    padding-top: 60px;
  }
  .t-t-reviews-lists {
    display: none;
  }
  .t-t-reviews-item {
    width: 400px;
    height: 204px;
    gap: 24px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
    margin: 0 16px;
    border-radius: 12px;
  }
  .t-t-reviews-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .t-t-reviews-item-top {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .t-t-reviews-text-bold {
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.t-t-faq {
  margin: auto;
  width: 375px;
  background-position: bottom;
  background-image: url("/img/about/bg_1.png");
}
.t-t-faq-container {
  padding: 40px 16px;
  width: 375px;
  margin: auto;
}
.t-t-faq-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.t-t-faq-question {
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;

  color: #5199de;
  border-bottom: 1px solid #5199de;
  padding: 4px 0;
}

.t-t-faq-answer {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;

  padding-top: 8px;
}
@media screen and (min-width: 1197px) {
  .t-t-faq {
    margin: auto;
    width: 1440px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url("/img/uniqueness/bg_2.png");
  }
  .t-t-faq-container {
    padding: 80px 88px;
    width: 1440px;
    margin: auto;
  }
  .t-t-faq-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    column-gap: 32px;
  }

  .t-t-faq-question {
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 600px;
    padding: 4px 0;
  }

  .t-t-faq-answer {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding-top: 8px;
  }
}

.t-t-gallery-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
  background-image: url("/img/about/bg_1.png");
}
.t-t-gallery-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  padding: 16px 0;
}
.t-t-gallery-text-two {
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #5199de;
}
.t-t-gallery-list {
  padding: 30px 0 0;
}

.t-t-gallery-item {
  width: 260px;
  height: 146px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
  border-radius: 12px;
}

.t-t-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 1197px) {
  .t-t-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 80px 88px;
    background-position: bottom;
    background-image: url("/img/uniqueness/bg_2.png");
  }
  .t-t-gallery-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 616px;
    padding: 16px 0;
  }
  .t-t-gallery-text-two {
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-t-gallery-list {
    padding: 60px 0 0;
  }

  .t-t-gallery-item {
    width: 400px;
    height: 225px;

    margin: 0 16px;
  }
}

.t-t-features {
  margin: auto;
  width: 375px;

  background-image: url("/img/features/bg_features.png");
}
.t-t-features-container {
  height: 1830px;
  margin: auto;
  padding: 40px 16px 0;
}
.t-t-features-list {
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.t-t-features-item {
  width: 343px;
  height: 246px;
  padding-right: 20px;
  padding-left: 20px;
  color: #ffffffb2;
}
.t-t-features-img {
  margin: 0 auto;
}
.t-t-features-text {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0 8px;
}
.t-t-features-text-bold {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1197px) {
  .t-t-features {
    margin: auto;
    width: 1440px;

    background-image: url("/img/features/Container.png");
  }
  .t-t-features-container {
    height: 846px;
    margin: auto;
    padding: 100px 88px;
  }
  .t-t-features-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    row-gap: 40px;
  }

  .t-t-features-item {
    width: 421.3333435058594px;
    height: 246px;
    gap: 24px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.t-t-policy-terms-container {
  padding: 116px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.t-t-policy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.t-t-policy-terms-container h2 {
  margin-bottom: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.t-t-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 24px;
}
.t-t-policy-terms-container p {
  margin-bottom: 24px;
}
.t-t-email-link {
  color: #0015ffcc;
  text-decoration: none;
}
@media screen and (min-width: 1197px) {
  .t-t-policy-terms-container {
    padding: 192px 212px 120px;
    width: 1440px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-t-policy-terms-container h1 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .t-t-policy-terms-container h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
  }
}

.t-t-footer-container {
  width: 375px;
  background: #1b283b;

  padding: 30px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #ffffffcc;
}

.t-t-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.t-t-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.t-t-footer-copyright {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1197px) {
  .t-t-footer-container {
    width: 1440px;
    padding: 60px 108px;
    display: flex;
    align-items: stretch;
    gap: 50px;
  }

  .t-t-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 32px;
  }

  .t-t-footer-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .t-t-footer-copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-t-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: #e8e8e8;

  z-index: 1000;
  display: none;
}

.t-t-cookie-popup-text-two {
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: #222222;
}

.t-t-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.t-t-cookie-button {
  background-color: transparent;
  border: 1px solid #222222;
  width: 343px;
  padding-top: 16px;

  padding-bottom: 16px;

  gap: 10px;
  border-width: 1px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #222222;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  border-radius: 8px;
}
.t-t-cookie-button:hover {
  background: #ffffff;
  color: #121212;
}
#accept-cookies {
  border: none;
  background: #57b1c1;
  color: #ffffff;
}
#accept-cookies:hover {
  background: #4292a0;
}
.t-t-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media screen and (min-width: 1197px) {
  .t-t-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;
  }

  .t-t-cookie-popup-text-two {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    width: 704px;
  }

  .t-t-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .t-t-cookie-button {
    width: 184px;
    height: 56;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 10px;
    border-width: 1px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .t-t-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 44px 108px;
    display: none;
  }
}
